@import url(‘https://fonts.googleapis.com/css?family=Verdana’);
@import url(‘https://fonts.googleapis.com/css?family=Roboto’);



/*.section{
	text-align: center;
	padding: 10px 20px;
	font-family: 'Verdana', sans-serif;
	
}

.content2 h2 {
	font-size: 200%;
	font-family: ‘Verdana’, sans-serif;
	color: #000;
	
}

.section-light {
	background-color: #fff;
	color: #000;
	height: 100%;
}

P {
	font-size: 150%;
	line-height: 200%;
	text-align: justify;
	margin: 3%;
	font-family: 'Verdana', sans-serif;
	font-weight: regular;
}
*/
